.content
  #login-social.span8.offset2
    %h6 Login with Social Networks
    %button.btn.btn-social-twitter.btn-lnger
      %i.fui-twitter
      Login with Twitter
    %button.btn.btn-social-facebook.btn-lnger
      %i.fui-facebook
      Login with Facebook
  #login-email.span8.offset2
    %h6 - ELSE -
    = form_tag sessions_path, autocomplete: "off" do
      .form-group
        = email_field_tag :email, nil, class: "form-control", placeholder: "Email"
      .form-group
        = password_field_tag :password, nil, class: "form-control", placeholder: "Password"
      .form-group
        %button.btn.btn-default.btn-wide Login
      %p
        %a{href: "#"} Need a new password?
