%section
  .wrap
    %h1.home-title FraudStar

  .contain
    = form_tag search_frauds_path, method: :get, class: "form-search" do
      .input-append
        %input#search-query-2.span8.huge.search-query.search-query-rounded(name="q" type="text" autocomplete="off")
        %button.btn.btn-huge(type="submit")
          %span.fui-search
    %br
  .caption
    %h2 What does FraudStar do?
    %p FraudStar helps you share fraud related activities and provides updates to other fraud related events.