%section
  .wrap
    %h1.home-title FraudStar
    
  .contain
    = form_tag search_frauds_path, method: :get, class: "search" do
      %input.focusedInput(name="q" type="text" autocomplete="off")
      %input.button(type="submit" value="Search")
    %br
  .caption
    %h2 What does FraudStar do?
    %p FraudStar helps you share fraud related activities and provides updates to other fraud related events.