%section
  .wrap
    %h1.home-title FraudStar
    %p.home-subtitle Easy to use fraud-reporting tool.
  .contain
    %form.search
      %input.focusedInput(type="text")
      %input.button(type="submit" value="Search")
    %br
  .caption
    %h2 What does FraudStar do?
    %p FraudStar helps you share fraud related activities and provides updates to other fraud related events.