%section.new_fraud_type.container
  .row
    .span10.offset1
      = form_tag new_fraud_path, method: :get, class: 'form-horizontal' do
        .control-group
          = label_tag :fraud_type_id, nil, class: "control-label"
          .controls
            = select_tag :fraud_type_id, options_from_collection_for_select(FraudType.all, :id, :name)
        .controls
          = submit_tag "New Fraud Event", name: nil, class: "btn"