.container
  .row
    = form_for search_frauds_path, method: :get, class: "form-search" do
      .input-append
        = text_field_tag :search, params[:q], class: "input input-xxlarge", name: "q", autocomplete: "off"
        %button.btn(type="submit")Search
    %hr

    - if @results.empty?
      %h4.results Your search for did not match any documents.

      %h4.results Suggestions:

      %ul.results
        %li Try different keywords.
    -else
      %ul.search-results
        - @results.each do |fraud|
          %li
          %h3
            = link_to fraud.title, fraud_path(fraud)
            %br
          .desc= fraud.description

      