.container
  .row
    = form_for search_frauds_path, method: :get, class: "form-search" do
      .input-append
        = text_field_tag :search, params[:query], class: "input input-xxlarge"
        %button.btn(type="submit")Search
  %hr

    %ul.search-results
      - @results.each do |fraud|
        %li.results
          = link_to fraud.title
          %br
          %h4= fraud.description