.container.offset1.message
  %p
    Reset your password.

.dialog.dialog-info.reset
  .container
    %form.control-group
      %input.flat(type="text" placeholde="Enter your email" autocomplete="off")
      %button.btn.btn-default.btn-wide.mll
        %i.fui-mail
        Send me reset instruction