%header.top
  %hgroup
    %nav
      %ul.primary_nav_right
        %li.selected
          %a{href: "#"} Home
        %li
          %a{href: "#"} Sign In
        %li
          %a{href: "#"} About us
        %li
          %a{href: "#"} Contact
      / end primary_nav