%header.top
  %hgroup
    %nav
      %ul.primary_nav_right
        %li.selected
          = link_to "home", root_path
        %li
          = link_to "regsiter", register_path
        %li
          %a{href: "#"} Sign In
        %li
          = link_to "Register Fraud!", register_fraud_path