%header.top
  %hgroup
    %nav
      %ul.primary_nav_right
        %li.selected
          %a{href: "#"} Home
        %li
          %a{href: "#"} Register
        %li
          %a{href: "#"} Sign In
        %li
          = link_to "Register Fraud!", register_fraud_path