.container.offset1.message
  %p
    Forgot your password?

.dialog.reset
  .container
    %form.control-group
      %input.flat.span8(placeholder="Enter your email" type="email")
      %button.btn.btn-primary.btn-wide.mll{"data-dismiss" => "alert"}
        %i.fui-mail
        Send me reset instruction