%form#login
  %h1 Sign In
  %fieldset#inputs
    %input#username{autofocus: "", placeholder: "Username", required: "", type: "text"}/
    %input#password{placeholder: "Password", required: "", type: "password"}/
  %fieldset#actions
    %input#submit{type: "submit", value: "Log in"}/
    %a{href: ""} Forgot your password?
    %a{href: ""} Register