%section.home
  .wrap
    %h1.home-title
      FraudStar
    %p.home-subtitle
      Easy to use fraud-reporting tool.
    %br
    %form.home-form
      %input.home-search-field(type="text" placeholder="Start here...")
      %input.home-search-submit(type="submit" value="Search")
    %br
    %h2
      What does FraudStar do?
    %p FraudStar helps you share fraud related activities and provides updates to other fraud related events.