.container
  .alert.alert-notify.fade.in
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    Please
    %strong Sign In
    if you already have an account
.content
  #login-social.span8.offset2
    %h6 Login with Social Networks
    %button.btn.btn-social-twitter.btn-lnger
      %i.fui-twitter
      Login with Twitter
    %button.btn.btn-social-facebook.btn-lnger
      %i.fui-facebook
      Login with Facebook
  #login-email.span8.offset2
    %h6 - ELSE -
    .form-group
      %input.form-control{placeholder: "Full Name", type: "text"}/
    .form-group
      %input.form-control{placeholder: "Email", type: "text"}/
    .form-group
      %input.form-control{placeholder: "Password", type: "text"}/
    .form-group
      %button.btn.btn-default.btn-wide Login
    %p
      %a{href: "#"} Need a new password?