.container
  .alert.alert-notify.fade.in
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    You can
    %strong Log In
    if you already have an account
.content
  #sign-up-social.span5.offset1
    %h6 Sign Up with Social Networks
    %p
      You can Log In if you already have an account.
    %button.btn.btn-social-twitter.btn-lnger
      %i.fui-twitter
      Sign Up with Twitter
    %button.btn.btn-social-facebook.btn-lnger
      %i.fui-facebook
      Sign Up with Facebook
  #sign-up-email.span5.offset1
    %h6 Sign Up with Email
    .form-group
      %input.form-control{placeholder: "Username", type: "text"}/
    .form-group
      %input.form-control{placeholder: "Email", type: "text"}/
    .form-group
      %input.form-control{placeholder: "Password", type: "text"}/
    .form-group
      %button.btn.btn-default.btn-wide Sign Up