section
  margin-top: 150px

.wrap
  display: block
  margin: 0 auto !important
  width: 940px !important
  height: 150px !important
  position: relative !important

.home-title
  text-align: center !important
  font-weight: bold !important
  font-size: 5em !important
  margin: 0 auto !important
  color: #3498db

section.ui-index
  background: #f7f7f7 !important
  padding: 30px !important

fieldset.field_fields
  border: none !important
  border: solid 1px #CCC
  padding: 10px 15px
  margin: 15px 0
  position: relative
  .remove_fields
    position: absolute
    right: 20px
    top: 12px
    font-size: 12px


.contain
  margin: 0px auto 0px auto
  text-align: center

.caption
  p, h2
    font-size: 16px
  width: 800px
  margin: 0 auto
  color: #3498db